/* Home.css */

/* Container for the grid of cards */
.anni {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 150px;
}

/* Individual card styles */
.card {
  width: 300px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  background-color: #FF6B6B; /* Set punk color */
}

.card:hover {
  transform: translateY(-5px);
}

.card-content {
  padding: 20px;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.btn {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .anni {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%;
  }
}
.ido{
  background-color: antiquewhite;
}