/* Payments.css */

body, html {
    margin: 0;
    padding: 0;
    height: 100%; /* Set height to 100% */
    font-family: Arial, sans-serif; /* Change the font family as desired */
  }
  
  .payment-container {
    display: flex;
    align-items: stretch; /* Stretch the container to occupy the full height */
    justify-content: center;
    width: 100%;
    height: 100%; /* Set height to 100% to occupy full height of the page */
  }
  
  .left-half {
    flex: 1;
    padding: 20px;
    background-color: #007bff; /* Background color for the left half of the page */
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:695px;
  }
  
  .right-half {
    flex: 1;
    padding: 20px;
    background-color: #fff; /* Background color for the right half of the page */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:695px;
  }
  
  .logo-container h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .input-field {
    margin-bottom: 15px;
  }
  
  .pay-button {
    width: 100%;
  }